<mat-card class="login">
  <form #loginform="ngForm" autocomplete="off">
    <app-errors [control]="user" field="username"></app-errors>
    <app-errors field="Password" [control]="loginform.controls['password']"></app-errors>
    <div>
      <!--two way <input type="text" name="username" [(ngModel)]="user.username"> -->
      <!-- form controlled <input type="text" name="username" ngModel> -->
      <input type="text" #user="ngModel" name="username" [ngModel]="user.username" required>

    </div>
    <div>
      <!--two way <input type="password" name="password" [(ngModel)]="user.password"> -->
      <!--form controlled <input type="password" name="password" ngModel> -->
      <input type="password" name="password" [ngModel]="user.password" required pattern="[0-9]+">
    </div>
    <button (click)="doLogin(loginform)" class="btn btn-primary" [disabled]="loginform.invalid">Login</button>
  </form>

</mat-card>
  <!-- <pre>
    Form Valid: {{loginform.valid}}
  Form data:  {{loginform.value|json}}
 username: {{user.username}} password: {{user.password}}
 Username: {{loginform.controls.usernamete?.errors|json}}
 Password: {{loginform.controls.password?.errors|json}}
  </pre> -->