<mat-toolbar color="primary">
  <span>TA Mart</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/home/admin/new-item" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>New Item</span>
      </a>
      <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  
  <!-- <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row> -->
</mat-toolbar>

<!-- <app-observables></app-observables>
<span #ms>Data changed</span>
<div></div>
{{ms.innerHTML}}
{{getSpanHtml()}}

{{myspan}} -->
<router-outlet></router-outlet>

<!-- <app-login><//app-login> -->



